.page {
  border: 4px grey;
  padding: 2px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
}

.column {
  width: 33.1%;
  float: left;
  margin-bottom:3em;
}

div{
  margin-top: 1em;
  border: solid rgb(0, 0, 0) 1px;
}

.houseimg {
  float: right;
}

.insideimg{
  float: left;
}
.first{
  display: block;
  
}
.second{
  display: block;
  margin-bottom: 10em;
}
img {
  margin:1em;
  width: 50%;
  height: auto;
}
.boxed {
  width: 60%;
  padding: 20px;
  border: solid black 10px;
  margin:10em;
  box-sizing: border-box;
  margin:auto;
}