.page {
  margin: auto;
  width: 80%;
}

.column {
  width: 33.1%;
  float: left;
  margin-bottom:3em;
}

div{
  margin-top: 1em;
  border: solid rgb(0, 0, 0) 1px;
}

.houseimg {
  float: right;
}

.insideimg{
  float: left;
}
.first{
  display: block;
  
}
.second{
  display: block;
}
img {
  margin:1em;
  width: 50%;
  height: auto;
}